body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #005f6b;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #028f9b 3px solid;
}

header h1, header h2 {
    padding: 0 15px;
}

.downloads {
    background: #fff;
    padding: 15px;
    margin-top: 15px;
}

.download-link {
    display: block;
    margin-bottom: 10px;
    background: #005f6b;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.download-link:hover {
    background: #028f9b;
}

/* Estilos para el enlace de registrar asistencia */
.attendance-link {
    display: block;
    margin-bottom: 10px;
    background: #007bff; /* Cambia el color de fondo */
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
/* Estilos para el enlace de registrar asistencia al pasar el ratón por encima */
.attendance-link:hover {
    background: #0056b3;
}

.ugel-logo {
    display: block;
    margin: 0 auto;
    width: 100px; /* Ajusta el tamaño según tus necesidades */
}

.specialist-name {
    color: #555;
    font-style: italic;
    margin-left: 20px;
}

.agenda {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.agenda li {
    margin-bottom: 20px;
    background-color: #f0f0f0;
    border-left: 5px solid #005f6b;
    padding: 10px;
    position: relative;
}

.agenda strong {
    font-weight: bold;
    color: #005f6b;
}

.agenda p {
    margin: 0;
    color: #333;
}

.agenda li:before {
    content: "\2022"; /* Crea un marcador de viñeta personalizado */
    color: #005f6b;
    font-weight: bold;
    font-size: 1.2em;
    position: absolute;
    left: -25px;
    top: 50%;
    transform: translateY(-50%);
}
