:root{
  --color-text-titulos: #ffffff;
  --color-texto: rgba(255, 255, 255, 0.867);
  --color-acento: #E6E4C6;
  --color-fondo: #0E3A47;
  --color-fondo-tarjeta: #ffffff27;
}

body{
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

header{
  background: #005f6b;
  color: white;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #028f9b 3px solid;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 100px);
}

/* Estilos para la sección de detalles */
#detalleContainer {
  margin-top: 20px;
  text-align: center;
}

.detalle-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.detalle-item {
  background-color: #f0f0f0;
  border-left: 5px solid #005f6b;
  padding: 10px;
  text-align: left;
}

.detalle-item strong {
  font-weight: bold;
  color: #005f6b;
}

.download-button {
  display: block;
  background: #005f6b;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.download-button:hover {
  background: #028f9b;
}

.comentario-input {
  padding: 5px;
}

.finalizar-button {
  background-color: #005f6b;
  color: white;
  padding: 10px;
  font-weight: bold;
  border: unset;
  cursor: pointer;
}

.finalizar-button:hover {
  background-color: #028f9b;
}
