body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header {
  background: #005f6b;
  color: white;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #028f9b 3px solid;
  text-align: center;
}

header h1, header h2 {
  padding: 0;
}

.downloads {
  background: #fff;
  padding: 15px;
  margin-top: 15px;
}

.download-link {
  display: block;
  margin-bottom: 10px;
}

/* Estilos para el botón de inicio de sesión */
#authorize_button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#authorize_button:hover {
  background-color: #0056b3;
}

/* Estilos para los contenedores de repositorios y detalles */
#repositoriosContainer, #detalleContainer {
  display: none; /* Ocultar inicialmente hasta la autenticación */
  background-color: #ffffff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  width: 80%;
  margin: 20px auto;
}

#detalleContainer h2, #detalleContainer p {
  margin-bottom: 10px;
}

.escondido {
  display: none;
}

input[type="text"], button {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: calc(100% - 22px); /* Ajustar el ancho para incluir el padding y el borde */
}

button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* Estilos para el estilo de tarjeta de los repositorios */
#repositoriosContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.repositorioItem {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  width: calc(33.333% - 20px);
  padding: 20px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.repositorioItem:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.repositorioItem h3, .repositorioItem p {
  margin: 10px 0;
}

.enlaceDescarga {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 768px) {
  .repositorioItem {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .repositorioItem {
    width: 100%;
  }
}
