body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #005f6b;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #028f9b 3px solid;
}

header h1, header h2 {
    padding: 0 15px;
}

.downloads {
    padding: 15px;
    margin-top: 15px;
}

.card {
    background: #fff;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.download-link {
    display: block;
    color: #005f6b;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 0; /* Elimina los bordes redondeados en los enlaces dentro de las tarjetas */
}

.download-link:hover {
    background: #f0f0f0;
}

.specialist-name {
    color: #555;
    font-style: italic;
    padding: 0 15px 10px 15px;
}

footer {
    background-color: #005f6b;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
    padding: 0;
}
