body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

header {
    background: #005f6b;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 70px;
    border-bottom: #028f9b 3px solid;
    text-align: center; /* Centra el contenido del header */
}

header h1, header h2 {
    padding: 0 15px;
}

.ugel-logo {
    width: 80px; /* Ajusta el tamaño del logo */
    height: auto; /* Mantiene la proporción del logo */
    margin: 0 auto; /* Centra el logo horizontalmente */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease; /* Añade transición para el efecto hover */
}

.card:hover {
    transform: translateY(-5px); /* Eleva ligeramente la tarjeta al pasar el cursor */
}

.resource-image {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    transition: transform 0.3s ease; /* Suaviza la transición de la animación */
}

.resource-image:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño de la imagen */
}

.download-link {
    background: #005f6b;
    color: white;
    text-decoration: none;
    padding: 10px;
    width: 100%;
    text-align: center;
    transition: background-color 0.3s ease; /* Suaviza la transición del color de fondo */
}

.download-link:hover {
    background: #028f9b;
}

.specialist-name {
    margin: 10px;
    color: #555;
}

footer {
    background-color: #005f6b;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}
