:root {
    /* Definición de colores principales para gamificación */
    --color-primario: #900C3F; /* Lila principal de FONDEP */
    --color-secundario: #581845; /* Un lila más oscuro para contrastes */
    --color-fondo: #F8F8F8; /* Blanco para el fondo */
    --color-fondo-contenedor: #F8F8F8; /* Un gris muy claro para fondos de contenedores */
    --color-fondo-item: #FFC300; /* Un lila muy claro para el fondo de items, tarjetas */
    --color-boton: #FFD700; /* Amarillo para botones, inspirado en el color de acción */
    --color-boton-hover: #FFC107; /* Amarillo oscuro para hover de botones */
    --color-texto: #000000; /* Gris oscuro para texto, para asegurar legibilidad */
    --color-borde: #DDD; /* Gris claro para bordes */

    /* Sombra */
    --sombra: 0 8px 16px rgba(0, 0, 0, 0.1);
    --sombra-hover: 0 12px 24px rgba(0, 0, 0, 0.2);

    /* Bordes */
    --border-radius: 8px;

    /* Tamaños de fuente */
    --fuente-grande: 18px;
    --fuente-normal: 16px;
    --fuente-pequena: 14px;

    /* Ajustes específicos para gamificación */
    --ancho-formulario: 250px; /* Ancho máximo para el formulario */
    --ancho-card: 300px; /* Ancho fijo para los cards */
    --altura-card: 250px; /* Altura fija para los cards */
}

html {
    height: 100%; /* Asegura que el html y body ocupen toda la altura */
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: var(--color-fondo);
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--color-fondo-contenedor);
    border-radius: var(--border-radius);
    box-shadow: var(--sombra);
    min-height: 100%; /* Hace que .container tenga al menos la altura de la ventana */
  
  
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Ajuste para una mejor respuesta y alineación */
    gap: 20px;
    width: 100%; /* Asegura que la cuadrícula ocupe el ancho del contenedor */
}

.grid-item {
    background-color: var(--color-fondo-item);
    border: 1px solid var(--color-borde);
    padding: 10px;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    gap: 10px;
}

.fas {
    color: var(--color-primario);
}

button {
    background-color: var(--color-boton);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--fuente-normal);
    margin-top: 10px;
}

button:hover {
    background-color: var(--color-boton-hover);
}

@keyframes scaleUp {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

h1, h2, h3 {
    color: var(--color-primario);
    text-align: center;
}

form > div, label, input[type="text"], textarea, input[type="submit"], .boton, .item-container, select {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: var(--color-primario);
    font-size: var(--fuente-normal);
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--color-primario);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    transition: border-color 0.3s;
}

input[type="text"]:focus, textarea:focus {
    border-color: var(--color-secundario);
    outline: none;
}

input[type="submit"] {
    background-color: var(--color-primario);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: var(--color-secundario);
}

footer {
    width: 100%;
    padding: 20px 0;
    background-color: var(--color-primario);
    color: white;
    text-align: center;
    margin-top: auto; /* Asegura que el footer se mueva hacia abajo */
}

p, li p, li small, li a {
    color: var(--color-texto);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: var(--color-fondo-item);
    border: 1px solid var(--color-borde);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: var(--border-radius);
    transition: transform 0.3s, box-shadow 0.3s;
}

li:hover {
    transform: translateY(-5px);
    box-shadow: var(--sombra-hover);
}
/* Estilos específicos para el formulario dentro de .container */
.container form {
    max-width: var(--ancho-formulario); /* Utiliza la variable para el ancho del formulario */
    width: 100%; 
    margin: 20px auto; /* Añade margen alrededor del formulario para separarlo */
    padding: 20px; /* Añade padding dentro del formulario */
    border: 2px solid var(--color-primario); /* Borde para el formulario */
    box-shadow: var(--sombra); /* Sombra para darle profundidad */
    border-radius: var(--border-radius); /* Radio de borde para bordes redondeados */
    background-color: var(--color-fondo-contenedor); /* Color de fondo */
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinea los elementos del formulario en el centro */
}
.card {
    background-color: var(--color-fondo-item);
    border: 1px solid var(--color-borde);
    padding: 20px;
    margin: 10px 0; /* Ajusta el margen vertical para reducir el espacio entre cards */
    width: var(--ancho-card);
    height: var(--altura-card);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--sombra);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: var(--sombra-hover);
}

select {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--color-primario);
    border-radius: var(--border-radius);
    background-color: var(--color-fondo-contenedor);
    box-sizing: border-box;
    color: var(--color-texto);
    font-size: var(--fuente-normal);
}

select:focus {
    border-color: var(--color-secundario);
    outline: none;
}


.content {
    flex: 1; /* Hace que el contenido crezca y ocupe el espacio disponible, empujando el footer hacia abajo */
    /* Otros estilos para tu contenido */
}


.ruleta-button-container {
    text-align: center; /* Centra el botón horizontalmente */
    margin-top: 20px; /* Espacio antes del contenedor del botón */
    padding: 20px; /* Espaciado interno para darle más área al clic */
}

.ruleta-button {
    background-color: var(--color-primario); /* Color de fondo del botón */
    color: white; /* Color del texto */
    padding: 10px 30px; /* Espaciado interno del botón */
    border-radius: var(--border-radius); /* Bordes redondeados */
    text-decoration: none; /* Elimina el subrayado del enlace */
    font-weight: bold; /* Hace el texto más grueso */
    transition: background-color 0.3s, transform 0.2s; /* Transición suave para el hover */
}

.ruleta-button:hover {
    background-color: var(--color-secundario); /* Cambia el color de fondo al pasar el mouse */
    transform: scale(1.05); /* Ligeramente más grande al pasar el mouse */
}



@media (hover: hover) {
    select:hover {
        border-color: var(--color-secundario);
    }
}

@media (max-width: 768px) {
    .container, .grid-container, ul, label, input[type="text"], textarea, input[type="submit"], .boton, select {
        padding: 15px;
        font-size: var(--fuente-grande);
    }
}

@media (max-width: 480px) {
    .container, label, input[type="text"], textarea, input[type="submit"], .boton, select {
        font-size: var(--fuente-grande);
        padding: 18px;
    }
}
